<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>Help Page</h1>
        <p>Some text here {{currentYear}}</p>
    </body>
</html>