<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{>navbar}}
<h1>Help Page</h1>
<p>Some text here {{getCurrentYear}}</p>

{{>footer}}
</body>
</html>